<div class="w-full">
  <div class="flex space-x-2">
    <h1 class="text-2xl font-bold underline">Books</h1>
    <%= link_to "Add Book", new_book_path, class: "bg-emerald-700 cursor-pointer hover:bg-emerald-600 font-semibold p-1 rounded-md ml-auto" %>
  </div>
  <div>
    <% @books.each do |book| %>
      <div class="bg-emerald-700 p-2 my-4 rounded-md">
        <div>
          <h2 class="text-xl font-bold"><%= book.title %></h2>
        </div>
        <div>
          by <%= book.author %>
        </div>
        <div>
          <span class="italic text-sm">
            <%= link_to "View on StoryGraph", book.url, target: "_blank" %>
          </span>
          |
          <span class="italic text-sm">
            <%= link_to "Edit", edit_book_path(book) %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @books %>
</div>
