<!-- A form for creating a new book -->
<div>
  <% if flash[:notice] %>
    <div class="bg-green-200 text-green-700 p-1 rounded-md">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="bg-red-200 text-red-700 p-1 rounded-md">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <h1 class="text-2xl font-bold underline">New Book</h1>
  <%= form_with model: @book, url: books_path, local: true, class: "space-y-2 mt-2" do |form| %>
    <div>
      <%= form.label :title, "Title" %>
    </div>
    <div>
      <%= form.text_field :title, class: "border rounded-md p-1" %>
    </div>
    <div>
      <%= form.label :author, "Author" %>
    </div>
    <div>
      <%= form.text_field :author, class: "border rounded-md p-1" %>
    </div>
    <div>
      <%= form.label :url, link_to("StoryGraph URL ↗️", "https://app.thestorygraph.com/", target: "_blank") %>
    </div>
    <div>
      <%= form.text_field :url, class: "border rounded-md p-1" %>
    </div>
    <div>
      <%= form.submit "Create Book", class: "bg-emerald-700 cursor-pointer hover:bg-emerald-600 font-semibold p-2 rounded-md" %>
    </div>
  <% end %>
</div>
