<div class="flex flex-wrap items-center p-2 bg-black space-x-2 border-b border-neutral-500 rounded-b-md">
  <div>
    <%= link_to "Home", root_path, class: "font-semibold hover:bg-emerald-700 p-1 rounded-md" %>
  </div>
  <div>
    <%= link_to "Books", books_path, class: "font-semibold hover:bg-emerald-700 p-1 rounded-md" %>
  </div>
  <% if user_signed_in? %>
    <div>
      <%= link_to "Vote", votes_path, class: "font-semibold hover:bg-emerald-700 p-1 rounded-md" %>
    </div>
  <% end %>
  <div class="ml-auto">
    <% if user_signed_in? %>
      <div class="flex items-center space-x-2">
        <div>
          <%= current_user.username %>
        </div>
        <div>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "font-semibold cursor-pointer hover:bg-emerald-700 rounded-md p-1" %>
        </div>
      </div>
    <% else %>
      <div>
        <%= button_to "Login", user_discord_omniauth_authorize_path, class: "font-semibold cursor-pointer hover:bg-emerald-700 rounded-md p-1", data: { turbo: false } %>
      </div>
    <% end %>
  </div>
</div>
